.footer {
	width: 95%;
	margin: auto;
	display: flex;
	flex: 1;
	align-items: flex-end;
}

.connect {
	font-family: "Six Caps", sans-serif;
	font-weight: 400;
	font-size: 200px;
	line-height: 180px;
	color: white;
}

.footerRight {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: 16px;
}

.rightTop {
	flex-wrap: wrap-reverse;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-bottom: 1px solid white;
	margin-bottom: 16px;
}

.contactMe {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 16px;
}

.query {
	composes: descriptionMedium from "./shared.css";
	padding-right: 10px;
}

.contact {
	composes: pillButton from "./shared.css";
}

.imageWrapper {
	position: relative;
	top: 20px;
	display: block;
	width: 200px;
}

@media only screen and (max-width: 990px) {
	.contact {
		margin-top: 16px;
	}
}
