@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Six+Caps&display=swap");

/* 
---FONTS---
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: "Six Caps", sans-serif;
*/

/* 
---Colors--- 

*/

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	height: 100%;
	width: 100%;
	color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

p {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

/* Media queries */

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
