.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	/* box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25); */
	border-bottom: 1px solid white;
}
