/* Hero */

.heroContainer {
	min-height: calc(100vh - 65px);
	height: 100%;
	display: flex;
	flex: 1;
	justify-content: space-between;
}

/* Hero Left */

.heroLeft {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.positionSmall {
	font-family: "Playfair Display", serif;
	font-weight: 800;
	font-size: 32px;
	color: #4cdaf6;
	padding-top: 10px;
}

.positionLarge {
	font-family: "Six Caps", sans-serif;
	font-weight: 400;
	font-size: 200px;
	line-height: 180px;
	color: white;
}

.listContainer {
	padding-top: 16px;
	display: flex;
	align-items: center;
}

.bouncingArrow {
	position: relative;
	top: -2px;
	padding-left: 8px;
}

/* Hero Right */

.heroRight {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

.descriptionMedium {
	composes: descriptionMedium from "./shared.css";
}

.pillButton {
	composes: pillButton from "./shared.css";
}

@media only screen and (max-width: 1000px) {
	.heroContainer {
		flex-direction: column;
	}
}
