.container {
	height: 100%;
	width: 100%;
	position: relative;
}

/* Background */

.backgroundWrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* Main */

.mainContent {
	padding-top: 65px;
	width: 95%;
	margin: auto;
}

/* Hero */

.heroContainer {
	height: calc(100vh - 65px);
	display: flex;
	flex: 1;
	justify-content: space-between;
}

/* Hero Left */

.heroLeft {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.positionSmall {
	font-family: "Playfair Display", serif;
	font-weight: 800;
	font-size: 2rem;
	color: #b16036;
	padding-top: 10px;
}

.positionLarge {
	font-family: "Six Caps", sans-serif;
	font-weight: 600;
	font-size: 300px;
	line-height: 280px;
	color: white;
}

.socialList {
	padding-top: 1rem;
}

.socialListItem {
	padding-right: 1rem;
	display: inline-block;
}
.socialListItem:last-child {
	padding-right: 0rem;
}

.socialLink {
	font-size: 20px;
	color: white;
	transition: color 0.3s;
}

.socialLink:hover {
	color: #b16036;
}

/* Hero Right */

.heroRight {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

.descriptionMedium {
	max-width: 600px;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 30px;
	text-align: end;
	color: white;
}

.pillButton {
	cursor: pointer;
	font-family: "Oswald", sans-serif;
	border: 2px solid white;
	background: none;
	font-weight: 400;
	font-size: 30px;
	text-align: end;
	width: max-content;
	border-radius: 99rem;
	padding: 8px 16px;
	margin: 16px;
	transition: 0.3s;
}

.pillButton:hover {
	color: #b16036;
	border: 2px solid #b16036;
}
