.worksWrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 50px;
	padding-bottom: 200px;
	max-width: 1200px;
	width: 100%;
	margin: auto;
}

.worksTitle {
	padding-bottom: 50px;
	font-weight: 500;
	composes: descriptionMedium from "./shared.css";
}
