.work {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: row-reverse;
	align-items: center;
	gap: 10px;
}

.work:nth-child(odd) {
	flex-direction: row;
	text-align: end;
}

.rowLeft {
	/* background-color: aqua; */
}

.workDescription {
	font-size: 18px;
	text-transform: uppercase;
}

.rowRight {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}

.rowRight:hover .workImage {
	scale: 1.5;
}

.rowRight:hover .linksWrapper {
	opacity: 1;
	pointer-events: none;
	/* scale: 0.95; */
}

.imageWrapper {
	display: block;
	width: 100%;
}

.workImage {
	scale: 1.25;
	transition: scale 0.3s ease-in-out;
	z-index: -1;
}

.linksWrapper {
	display: grid;
	place-content: center;
	height: 100%;
	width: 100%;
	transition: 0.3s all ease-in-out;
	opacity: 0;
	position: absolute;
	pointer-events: initial !important;
	composes: blackGlass from "./shared.css";
	background-color: rgba(0, 0, 0, 0.5);

	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */

	/* background-color: aliceblue; */
}

@media only screen and (max-width: 800px) {
	.work,
	.work:nth-child(odd) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.rowLeft {
		width: 100%;
	}
}
