.work {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: row-reverse;
	align-items: center;
}

.work .rowRight {
	padding-right: 10px;
}

.workAligned {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: end;
}

.workAligned .rowRight {
	padding-left: 10px;
}

.rowLeft {
	/* background-color: aqua; */
}

.workDescription {
	font-size: 18px;
	text-transform: uppercase;
}

.rowRight {
	display: flex;
	justify-content: center;
	width: 100%;
}

.imageWrapper {
	display: block;
	width: 100%;
	transition: all 0.3s ease-in-out;
}

.imageWrapper:hover {
	filter: blur(5px);
	scale: 0.95;
}

.imageWrapper:hover .workImage {
	scale: 1.5;
}

.workImage {
	scale: 1.25;
	transition: scale 0.3s ease-in-out;
	z-index: -1;
}

@media only screen and (max-width: 800px) {
	.work,
	.workAligned {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.workAligned .rowRight,
	.work .rowRight {
		padding-left: 0;
		padding-right: 0;
	}

	.rowRight {
		padding-top: 8px;
	}
}
